briefs/biz-ops-outputs/n8n-demos/form-to-slack.json
{
  "name": "Form to Slack",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "form-submit",
        "options": {}
      },
      "webhookId": "form-submit"
    },
    {
      "id": "2",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [450, 300],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "slackPayload",
              "value": "={\"blocks\":[{\"type\":\"header\",\"text\":{\"type\":\"plain_text\",\"text\":\"New Form Submission\"}},{\"type\":\"divider\"},{\"type\":\"section\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Name:*\\n{{ $json.name || 'N/A' }}\"},{\"type\":\"mrkdwn\",\"text\":\"*Email:*\\n{{ $json.email || 'N/A' }}\"}]},{\"type\":\"section\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Subject:*\\n{{ $json.subject || 'N/A' }}\"},{\"type\":\"mrkdwn\",\"text\":\"*Submitted:*\\n{{ new Date().toISOString() }}\"}]},{\"type\":\"divider\"},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Message:*\\n{{ $json.message || 'No message provided' }}\"}},{\"type\":\"divider\"},{\"type\":\"context\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"Submitted via n8n webhook\"}]}]}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "3",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.slackWebhookUrl }}",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json",
              "parameterType": "header"
            }
          ]
        },
        "jsonBody": "={{ $json.slackPayload }}",
        "options": {
          "timeout": 10000,
          "allowUnauthorizedCerts": false
        }
      }
    },
    {
      "id": "4",
      "name": "Respond with Confirmation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true,\"message\":\"Thank you for your submission! We have received your message and will get back to you shortly.\"}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack": {
      "main": [
        [
          {
            "node": "Respond with Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "versionId": "form-to-slack-v1",
  "active": false
}
