briefs/biz-ops-outputs/n8n-demos/lead-capture-to-crm.json
{
  "name": "Lead Capture to CRM",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "lead-capture",
        "options": {}
      },
      "webhookId": "lead-capture"
    },
    {
      "id": "2",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-name",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "cond-email",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "cond-phone",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "cond-message",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "AND"
        }
      }
    },
    {
      "id": "3",
      "name": "Post to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.crmEndpoint }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "source",
              "value": "n8n-webhook"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "allowUnauthorizedCerts": false
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{ $vars.crmCredentialId }}",
          "name": "CRM API Key"
        }
      }
    },
    {
      "id": "4",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.statusCode === 200 || $json.statusCode === 201 ? JSON.stringify({ success: true, message: 'Lead captured successfully' }) : JSON.stringify({ success: false, message: 'Failed to capture lead' }) }}"
      }
    },
    {
      "id": "5",
      "name": "Failed Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":false,\"message\":\"Validation failed. All fields (name, email, phone, message) are required.\"}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Post to CRM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to CRM": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "versionId": "lead-capture-v1",
  "active": false
}
